[submodule "pygrays-web"]
	path = pygrays-web
	url = git@github.com:DeckerCHAN/pygrays-web.git
	branch = master
[submodule "pygrays-api"]
	path = pygrays-api
	url = git@github.com:DeckerCHAN/pygrays-api.git
	branch = master
